<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{headingTitle}}
		</div>
		<div class="panel-body">
			<div class="row show-list">
				<div loading-container="tableParams.settings().$loading">
					<table ng-table="tableParams" show-filter="true" class="table">
						<tr ng-repeat="date in $data">
							<td data-title="'Date'" filter="{ 'name': 'text' }" class="name">
								<a href="/date/{{date.name}}">{{date.name}}</a>
							</td>
							<td data-title="'Total'" class="total">
								{{date.total}}
							</td>
							<td data-title="'Passed'" class="passed">
								{{date.passed}}
							</td>
							<td data-title="'Failed'" class="failed">
								{{date.failed}}
							</td>
							<td data-title="'Indeterminate'" class="indeterminate">
								{{date.indeterminate}}
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>



